<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="mobileui.store">
      <meta name="author" content="mobileui.store">
      <link rel="icon" type="image/png" href="demo/logo.png">
      <title>OsahanBus - Bus Booking HTML Mobile Template</title>
      <!-- Bootstrap core CSS -->
      <link href="demo/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="demo/vendor/bootstrap/css/demo.css" rel="stylesheet">
   </head>
   <body>
      <div class="whitecontainer">
      <!-- Page Content -->
      <div class="">
         <div class="align-items-center">
            <div class="col-lg-6 text-center">
               <img class="logo" src="demo/logo.png">
               <h1>Yatri Sewa</h1>
               <h4 class="mb-3">Online Bus Ticket Booking Application </h4>
               <img class="mb-3 mt-4 qrcode" src="demo/qrcode.png">
               <p class="text-danger small mb-5">Scan to View on Your Mobile Device
               </p>
               <a class="btn btn-lg btn-primary shadow mx-1" href="https://mobileui.store/preview/osahanbus/index.html">Try on Your Phone</a>
               <a class="btn btn-lg btn-success shadow mx-1" href="https://themeforest.net/user/mobileui">Purchase Now</a>
            </div>
            <div class="col-lg-6 text-center">
               <div class="phone-screen">
                  <div class="f-r">
                  <iframe name="preview" src="index.html"></iframe> 
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
   </body>
</html>