<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" type="image/png" href="img/logo.png">
      <title>OsahanBus - Bus Booking HTML Mobile Template</title>
      <!-- Bootstrap core CSS -->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Icofont Icon-->
      <link href="vendor/icons/icofont.min.css" rel="stylesheet" type="text/css">
      <!-- Slick Slider -->
      <link rel="stylesheet" type="text/css" href="vendor/slick/slick.min.css"/>
      <link rel="stylesheet" type="text/css" href="vendor/slick/slick-theme.min.css"/>
      <!-- Custom styles for this template -->
      <link href="css/custom.css" rel="stylesheet">
      <!-- Sidebar CSS -->
      <link href="vendor/sidebar/demo.css" rel="stylesheet">
   </head>
   <body>
      <div class="whitecontainer">
      <!-- landing page -->

         <div class="landing-page">
            <img class="yatrilogo" src="../img/yatrilogodark.png" alt="yatri logo dark one">
            <p class="welcometext">Welcome to YatriSewa</p> 
            <p class="booking ">Book your Online Bus Ticket</p>    
         </div>
         <!-- footer fixed -->
         <div class="osahan-fotter fixed-bottom m-3">
            <a href="get-started.html" class="get-started btn bg text border btn-block osahanbus-btlan">Get Started</a>
         </div>
         <!-- Bootstrap core JavaScript -->
         <script src="vendor/jquery/jquery.min.js"></script>
         <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
         <!-- slick Slider JS-->
         <script type="text/javascript" src="vendor/slick/slick.min.js"></script>
         <!-- Sidebar JS-->
         <script type="text/javascript" src="vendor/sidebar/hc-offcanvas-nav.js"></script>
         <!-- Custom scripts for all pages-->
         <script src="js/custom.js"></script>
      </div>
   </body>
</html>